.action-button {

}

.btn-round-arrow {
  background-color: var(--color-white);
  border: 1px solid #E7717D;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: #E7717D;
    .btn-round-arrow__icon {
      stroke: var(--color-white);
    }
  }
  &:disabled {
    border-color: #EAEAEA;
    background-color: transparent;
    .btn-round-arrow__icon {
      stroke: #EAEAEA;
    }
  }
  &_prev {
    transform: rotate(180deg);
  }
  &__icon {
    stroke: #E7717D;
    transition: stroke .3s;
  }
}

.btn-round-like {
  background-color: var(--color-white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &_active {
    .btn-round-like__icon {
     fill: #E7717D;
    }
  }
  &__icon {
    stroke: #E7717D;
    transition: stroke .3s;
  }
  &:hover {
    background-color: #E7717D;
    .btn-round-like__icon {
      stroke: var(--color-white);
    }
  }
}