.buttons {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  transition: background-color .3s;
  border: none;
  cursor: pointer;
  line-height: 2.2rem;
  padding: 2.1rem 14.2rem;
  @media (hover: hover) {
    &:hover {
      background-color: var(--color-secondary);
    }
  }
  @include respond-to('small') {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}