.carousel {
  &__line {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 3.2rem;
    transition: all .3s;
  }
  &__item {
    display: block;
  }
  &__buttons {
    margin-top: 3.2rem;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
  }
}

.carousel {
  @include respond-to('medium') {
    &__line {
      gap: 2.4rem;
    }
    &__item {
      width: 266px;
      height: 284px;
      flex: 0 0 auto;
    }
  }
  @include respond-to('small') {
    &__buttons {
      margin-top: 2.4rem;
      margin-bottom: 2.5rem;
    }
  }
}