.carousel {
  &__line {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    gap: 3.2rem;
    transition: all .3s;
  }
  &__item {
    display: block;
  }
  &__buttons {
    margin-top: 3.2rem;
    text-align: center;
  }
}