.walking {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
  &__button {
    text-align: right;
  }
  &__desc {
    &>p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.walking {
  @include respond-to('large') {
    grid-template-columns: 1fr;
    &__button {
      text-align: left;
    }
  }
  @include respond-to('small') {
    &__desc {
      br {
        display: none;
      }
      &>p:first-of-type {
        margin-top: 0;
      }
      &>p:last-of-type {
        margin-bottom: 2.5rem;
      }
    }
  }
}