%title {
  font-weight: 500;
  color: var(--color-black);
  margin: 0;
}

%btn-round {
  background-color: var(--color-white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}