:root {
  --main-font-size: 10px;
  --main-font-family: Ubuntu, sans-serif;

  --color-primary: #659DBD;
  --color-secondary: #5B8DAA;
  --color-black: #232323;
  --color-gray: rgba(35, 35, 35, 0.7);
  --color-white: #FFFFFF;
}
